body {
  margin: 0;
  padding: 25px;
}
.shapes {
  border-style: solid;
  border-color: black;
  border-width: thick;
  box-sizing: border-box;
  padding: 10px;
}


#purp {
  background-color: #8A2BE2;
  width: 50px;
  height: 150px;
  display: inline-block;


}

#green {
  background-color: #228B22;
  width: 400px;
  height: 200px;
  display: inline-block;
margin: 0px 50px;

}

#circle {
  background-color: #87CEEB;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: inline-block;


}

.dots {
  border-style: dotted;
  border-color: black;
  border-width: thick;
  padding: 52px;
  margin: 25px 0px;
  box-sizing: border-box;
}

#droptangle {
  display: inline-block;
  background-color: #FFFACD;
  width: 100%;
  height: 200px;
  box-shadow: 10px 10px 10px #404040;



}

.string {
  height: 320px;
  width: 50%;
  border-style: solid;
  border-width: thin;
  border-color: #CCCCCC;
  box-shadow: 5px 5px 5px #b3b3b3;
  margin: 25px auto;
  box-sizing: border-box;

}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 33px;
  color: #000080;
  letter-spacing: 10px;
  font-weight: bold;
  padding: 100px;

}
